NODE_ENV=development
API_PORT=3002
DATABASE_URL="postgresql://postgres:***@localhost:5436/greenthumb"
JWT_ACCESS_SECRET=change...tion
JWT_REFRESH_SECRET=change...tion
UPLOADS_DIR=./uploads
OLLAMA_BASE_URL=http://localhost:11434
